@use 'include-media'as *;

.block.showcase {
    padding: rem(80px) 0;
    position: relative;
    margin-top: rem(80);
    overflow: clip;

    &::before {
        content: '';
        width: 100%;
        height: 400px;
        background-color: var(--color-2);
        position: absolute;
        top: 0;
        z-index: -1;
        transform: rotate(-1deg);
    }

    .intro {
        text-align: center;
        position: relative;
        margin-bottom: fluid(25, 70);

        .small-title {
            font-family: var(--montserrat);
            font-size: fluid(14, 16);
            font-weight: 500;
            color: var(--color-5);
            text-transform: uppercase;
            display: block;
            margin-bottom: fluid(8, 14);
            letter-spacing: rem(2);
        }

        .heading {
            font-family: var(--pp-pangaia);
            font-size: fluid(35, 70);
        }

        .large-fade {
            font-size: fluid(70, 170);
            color: var(--color-6);
            position: absolute;
            top: fluid(14, 8);
            z-index: -1;
            text-wrap: nowrap;
            transform: translateX(-50%);
            left: 50%;
            pointer-events: none;
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        gap: fluid(20, 40);

        @include media('<=tablet') {
            flex-direction: column;
        }

        .card {
            position: relative;
            display: flex;
            background-color: var(--color-1);
            border: 1px solid var(--color-6);
            width: rem(750);
            cursor: pointer;
            transition: all 350ms ease-in-out;

            @include media('<=tablet') {
                width: 100%;
            }

            @include media('<=phone-medium') {
                flex-direction: column;
            }

            &:hover {
                box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1),
                    0px 1px 3px 0px rgba(0, 0, 0, 0.08);

                .card-content {

                    &::before {
                        width: 100%;
                    }
                }

                p {
                    opacity: 0.5;
                }
            }
        }

        .image-wrapper {
            flex: 1;
            @include ratio(280, 400);

            @include media('<=tablet') {
                @include ratio(240, 320);
            }

            @include media('<=phone-medium') {
                max-width: unset;
                max-height: rem(580);
            }

            .image {
                object-position: top;
            }
        }

        .card-content {
            position: relative;
            flex: 1;
            padding: fluid(20, 35, 'tablet', 'desktop-small');
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: rem(20);

            @include media('<=tablet') {
                padding: fluid(20, 60);
            }

            @include media('<=phone-medium') {
                position: initial;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 5px;
                background-color: var(--color-4);
                transition: all 350ms ease-in-out;

                @include media('<=phone-medium') {
                    display: none;
                }
            }

            .brand {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: rem(20);
            }

            .brandname {
                font-family: var(--pp-pangaia);
                font-size: fluid(25, 38, 'tablet', 'desktop-small');
                text-transform: uppercase;
                flex: 1;

                @include media('<=tablet') {
                    font-size: fluid(25, 38, 'phone-xsmall', 'tablet');
                }
            }

            .link {
                width: fluid(45, 60, 'tablet', 'desktop-small');
                height: fluid(45, 60, 'tablet', 'desktop-small');
                border: 1px solid var(--color-3);
                border-radius: 100%;
                color: var(--color-3);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: fluid(22, 42, 'tablet', 'desktop-small');
                transform: rotate(-30deg);
                transition: all 300ms ease-in-out;

                @include media('<=tablet') {
                    width: fluid(45, 60);
                    height: fluid(45, 60);
                }

                @include media('<=phone-medium') {
                    position: absolute;
                    top: rem(20);
                    right: rem(20);
                }

                svg {
                    width: fluid(32, 44, 'tablet', 'desktop-small');
                    height: fluid(32, 44, 'tablet', 'desktop-small');
                    stroke-width: 1px;

                    @include media('<=tablet') {
                        width: fluid(32, 44);
                        height: fluid(32, 44);
                    }
                }

                &:hover {
                    background-color: var(--color-3);
                    color: var(--color-1);
                    transform: rotate(0);

                    @include media('<=phone-medium') {
                        background-color: var(--color-3);
                        color: var(--color-2);
                        border-color: var(--color-3);
                    }
                }
            }

            p {
                line-height: 1.5;
                font-size: fluid(14, 16);
                transition: all 300ms ease-in-out;
            }
        }


    }

}