$base-font-size: 16;

$breakpoints: (
  'phone-xsmall': calc(320 / #{$base-font-size}) * 1rem,
  'phone-small': calc(425 / #{$base-font-size}) * 1rem,
  'phone-medium': calc(600 / #{$base-font-size}) * 1rem,
  'phone': calc(768 / #{$base-font-size}) * 1rem,
  'tablet': calc(1024 / #{$base-font-size}) * 1rem,
  'desktop-small': calc(1200 / #{$base-font-size}) * 1rem,
  'desktop-medium': calc(1440 / #{$base-font-size}) * 1rem,
  'desktop-mlarge': calc(1600 / #{$base-font-size}) * 1rem,
  'desktop-large': calc(1800 / #{$base-font-size}) * 1rem,
  'desktop-xlarge': calc(1920 / #{$base-font-size}) * 1rem,
  'desktop-max': calc(2000 / #{$base-font-size}) * 1rem
);

@forward 'include-media/dist/include-media' with ($breakpoints: $breakpoints);
