// @use 'sass:map';

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding-right: fluid(20, 40);
    padding-left: fluid(20, 40);
    max-width: rem(1280);

    &.no-padding {
        padding: 0;
    }

    &.full {
        max-width: 100%;
    }
}